<h1>New Mark</h1>

<form action="/create_mark">
  <div>
    <label for="name">Name of Site</label><br />
    <input id="name" name="name" type="text" placeholder = "name"/>
  </div>
  <p></p>
  <div>
    <label for="url">URL</label><br />
    <input id="url" name="url" type="text" placeholder = "url"/>
  </div>
  <p></p>
  <div>
    <label for="description">Description of Site</label><br />
    <input id="description" name="description" type="text" placeholder = "description"/>
  </div>
  <p></p>
  <div>
    <label for="user_id">User ID</label><br />
    <input id="user_id" name="user_id" type="text" placeholder = "user id"/>
  </div>
  <p></p>
  <div>
    <input type="submit">
  </div>
</form>

